/* Typography */
* {
    font-family: 'Raleway', sans-serif;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/*************
** Base CSS **
*************/
body {
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    max-width: 1440px;
    padding:0 2rem;
    box-sizing: border-box;
}


/***********
** Header **
***********/
.header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo > a {
    height: 2rem;
    width: auto;
}

.header__blank {
    flex-grow: 1;
}

.header__sign-up {
    font-weight: 700;
    padding: 3rem 0 3rem 2rem;
    color: #0065FC;
}

.navbar > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 3rem 0;
    margin:0;
}

.navbar__link {
    padding: 3rem 2rem;
    position: relative;
}

.navbar__link:hover {
    cursor: pointer;
    color: #0065FC;
}

.navbar__link::after {
    content:"";
    background: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 2px solid #0065FC;
    transform: scaleX(0);
    transform-origin: center;
    transition: 200ms;
}

.navbar__link:hover::after {
    transform: scaleX(1);
}


/*********
** Main **
*********/
.main{
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
    margin: 0 0 .5rem;
    font-weight: 700;
}

.subtitle {
    margin: 0;
}


/***********************
** Barre de recherche **
***********************/
.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 28rem;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
    margin: 1rem 0;
    overflow: hidden;
}

.searchbar__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 3rem;
    background-color: #F2F2F2;
    font-size: 1.1rem;
}

.searchbar__input {
    height: 100%;
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0 1rem;
    background: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.searchbar__submit {
    height: 100%;
    background-color: #0065FC;
    border: none;
    padding: 0 1rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.searchbar__submit:hover{
    cursor: pointer;
}

/************
** Filtres **
************/
.filter-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.1rem;
    font-weight: 700;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    box-sizing: border-box;
    margin: 0 1rem;
    padding: 0;
    border: 2px solid #D9D9D9;
    border-radius: 1.5rem;
    background: none;
    transform: scale(1);
    transform-origin: center;
    transition: .2s
}

.filter:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.filter__icon {
    position: relative;
    left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 1.2rem;
}

.filter__icon > .fas {
    border: 1px solid red;
    background-color: red;
}

.filter__name {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 1rem;
}


.info {
    display: flex;
    align-items: center;
}

.info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .7rem;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: .8rem;
    color:#0065FC;
}