/***************
** Typography **
***************/
* {
    font-family: 'Raleway', sans-serif;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/*************
** Base CSS **
*************/
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100vw;
    max-width: 1440px;
    padding:0 3rem;
    box-sizing: border-box;
}

.row {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

/*********** 
** Cartes **
***********/
.card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px #D9D9D9;
    transform: scale(1);
    transition: .2s;
}

.card:hover {
    transform: scale(1.05);
}

.card__img {
    width: 100%;
    object-fit: cover;
}

.card__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: .5rem .7rem .3rem;
    line-height: 1.5rem;
    font-size: .9em;
}

.card__rating {
    color: #0065FC;
}

.card__rating--4 > li:nth-child(5) {
    color: #D9D9D9;
}

.card__rating--3 > li:nth-child(5), .card__rating--3 > li:nth-child(4) {
    color:#D9D9D9;
}



/***********
** Header **
***********/
.header{
    justify-content: space-between;
}

.header__logo > a {
    height: 2rem;
    width: auto;
}

.header__blank {
    flex-grow: 1;
}

.header__sign-up {
    font-weight: 700;
    padding: 3rem 0 3rem 2rem;
    color: #0065FC;
}

.navbar > ul {
    list-style-type: none;
    padding: 3rem 0;
}

.navbar__link {
    padding: 3rem 2rem;
    position: relative;
}

.navbar__link:hover {
    cursor: pointer;
    color: #0065FC;
}

.navbar__link::after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 2px solid #0065FC;
    transform: scaleX(0);
    transform-origin: center;
    transition: 200ms;
}

.navbar__link:hover::after {
    transform: scaleX(1);
}


/*********
** Main **
*********/
.title {
    font-size: 1.5rem;
    margin: 0 0 .5rem;
    font-weight: 700;
}


/***********************
** Barre de recherche **
***********************/
.searchbar {
    justify-content: start;
    height: 3rem;
    width: 28rem;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
    margin: 1rem 0;
    overflow: hidden;
}

.searchbar__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0 0 3rem;
    background-color: #F2F2F2;
    font-size: 1.1rem;
}

.searchbar__input {
    height: 100%;
    flex: 1 1;
    min-width: 0;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.searchbar__reset {
    height: 100%;
    padding: 0 1rem;
    font-size: 1.1rem;
    visibility: hidden;
    cursor: pointer;
}

.searchbar:hover > .searchbar__reset{
    visibility: visible;
}

.searchbar__submit {
    flex: 0 0;
    height: 100%;
    background-color: #0065FC;
    padding: 0 1rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.searchbar__submit:hover{
    cursor: pointer;
}

/************
** Filtres **
************/
.filter-list {
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem 0;
    font-size: 1.1rem;
    font-weight: 700;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    box-sizing: border-box;
    margin: 0 1rem;
    border: 2px solid #D9D9D9;
    border-radius: 1.5rem;
    transform: scale(1);
    transform-origin: center;
    transition: .2s
}

.filter:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.filter__icon {
    position: relative;
    left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 1.2rem;
}

.filter__name {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 1rem;
}


.info {
    display: flex;
    align-items: center;
}

.info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .7rem;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: .8rem;
    color:#0065FC;
}



/*************
** Sections **
*************/
.section {
    margin: 2rem 0;
}

.section--bg {
    border-radius: 1rem;
    padding: 2.5rem;
    background-color: #F2F2F2;
}

.section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.section__list {
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    margin: 1rem 0;
}

.section__display-more {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}



/*****************
** Hébergements **
*****************/
.accomodations {
    gap: 2.5rem;
    align-items: stretch;
}

.accomodations__main {
    width: 70%;
}

.hotel {
    border: 5px solid white;
    flex-basis: 12rem;
    flex-grow: 1;
}

.hotel .card__img {
    height: 7rem;
}

/************************
** Les plus populaires **
************************/
.popular {
    width: 30%;
}

.popular__icon {
    font-size: 1.5rem;
}

.popular__card {
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    width: 21rem;
    flex-basis: 8rem;
    flex-grow: 1;
}

.popular__card .card__img {
    height: 100%;
    width: 8rem;
}

/**************
** Activités **
**************/
.activities__list {
    align-items: stretch;
}

.activities__col {
    display: flex;
    flex-direction: column;
    height: 28rem;
    flex: 1 0 20%;
    gap: 2rem;
}

.activities__col .card {
    min-height: 10rem;
}

.activities__col:nth-child(2n+1) .card {
    flex: 1;
}

.activities__col .card__img {
    flex: 1 1 50%;
    height: 0;
}

.activities__col .card__content {
    flex: 0 0 auto;
    margin: 1rem;
}

/***********
** Footer **
***********/
.footer {
    position: relative;
    justify-content: space-between;
    padding: 3rem;
}

.footer:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    background-color: #F2F2F2;
    transform: translateX(-50%);
}

.footer__section {
    flex-grow: 1;
    line-height: 2rem;
}

.footer__title {
    font-size: 1rem;
    margin-bottom: .5rem;
}